*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.logo-texto {
    margin-left: 25px;
    font-size: 24px;
    color: white !important;
    text-decoration: none !important;
    font-weight: normal;
    padding: 10px 15px;
}

.logo-texto a:visited{
    color: white !important;
    text-decoration: none !important;
}

.logo-texto:hover{
    background-color: darkblue;
}
.container-logo{
    display: flex;
    align-items: center;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
}

.menu li a{
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

.menu li a:hover{
    background-color: darkblue;
}

.header-about-us{
    width: 100%;
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
}

.texto-about-us{
    padding: 50px;
}

.header-inscricao{
    width: 100%;
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white; 
}

.inscricao-texto{
    padding: 50px;
}

.header-aulas{
    width: 100%;
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
}

.aulas-texto{
    padding: 50px;
}

.header-contato{
    width: 100%;
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
}

.contato-texto{
    padding: 50px;
}