*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.logo-texto {
    margin-left: 25px;
    font-size: 24px;
    color: white !important;
    text-decoration: none !important;
    font-weight: normal;
    padding: 10px 15px;
}

.logo-texto a:visited{
    color: white !important;
    text-decoration: none !important;
}

.logo-texto:hover{
    background-color: darkblue;
}
.container-logo{
    display: flex;
    align-items: center;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
}

.menu li a{
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}

.menu li a:hover{
    background-color: darkblue;
}

.header-about-us{
    width: 100%;
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
}

.texto-about-us{
    padding: 50px;
}

.img_grafico{
    float: right;
    width: 60%;
}

.posicao{
    position: absolute;
    width: 70%;
    left: 15%;
    top: 20%;
    padding: 50px;
}

.paragrafos{
    justify-content: space-between;
    font-size: large;
}

.header-inscricao{
    width: 100%;
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white; 
}

.inscricao-texto{
    padding: 50px;
}

.header-aulas{
    width: 100%;
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
}

.aulas-texto{
    padding: 50px;
}

.header-contato{
    width: 100%;
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
}

.contato-texto{
    padding: 50px;
}

.horizontal-list {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0;
    margin: 0;
    display: inline-block; /* Usa flexbox para organizar os itens */
    flex-wrap: wrap; /* Permite que os itens rolem para a linha abaixo, se necessário */
}

.horizontal-list li {
    margin-right: 10px; /* Espaçamento entre os itens */
}

.horizontal-list li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    /*color: #000; /* Cor do texto dos links */
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.horizontal-list li a:hover {
    background-color: darkblue; /* Cor de fundo ao passar o mouse */
}

/*

    Código a partir daqui é feito para as aulas, se quiser criar um CSS só para a pagina pode ser feito!

*/

.lista-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-horizontal li {
    margin: 5px;
}

.aulaSelector {
    width: 100%;
    padding: 20px;
    transition: 200ms;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    color: #ADD8E6;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    background-color: #ADD8E6;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: black;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #ADD8E6;
    margin-right: 3px;
}

.remember-forgot a {
    color: #ADD8E6;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: #ADD8E6;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: #ADD8E6;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
